extends layout

block content
    .Content
        .Left_Content
            ul.Act-menu.animated
                li.has-children
                    input#group-1(type='checkbox', name='group-1')
                    label(for='group-1') Group 1
                    ul
                        li.has-children
                            input#sub-group-1(type='checkbox', name='sub-group-1')
                            label(for='sub-group-1') Sub Group 1
                            ul
                                li
                                    a(href='#0') Image
                                li
                                    a(href='#0') Image
                                li
                                    a(href='#0') Image
                        li.has-children
                            input#sub-group-2(type='checkbox', name='sub-group-2')
                            label(for='sub-group-2') Sub Group 2
                            ul
                                li.has-children
                                    input#sub-group-level-3(type='checkbox', name='sub-group-level-3')
                                    label(for='sub-group-level-3') Sub Group Level 3
                                    ul
                                        li
                                            a(href='#0') Image
                                        li
                                            a(href='#0') Image
                                li
                                    a(href='#0') Image
                        li
                            a(href='#0') Image
                        li
                            a(href='#0') Image
                li.has-children
                    input#group-2(type='checkbox', name='group-2')
                    label(for='group-2') Group 2
                    ul
                        li
                            a(href='#0') Image
                        li
                            a(href='#0') Image
                li.has-children
                    input#group-3(type='checkbox', name='group-3')
                    label(for='group-3') Group 3
                    ul
                        li
                            a(href='#0') Image
                        li
                            a(href='#0') Image
                li.has-children
                    input#group-4(type='checkbox', name='group-4')
                    label(for='group-4') Group 4
                    ul
                        li.has-children
                            input#sub-group-3(type='checkbox', name='sub-group-3')
                            label(for='sub-group-3') Sub Group 3
                            ul
                                li
                                    a(href='#0') Image
                                li
                                    a(href='#0') Image
                        li
                            a(href='#0') Image
                        li
                            a(href='#0') Image
        .Right_Content
            .Act_box
                .Box_container
                    .Box_img
                        img.box_img(src='/images/imgres.jpg')
                    .Box_info
                        h3 約跑
                        p  2015/10/25
                        p  新竹市，東區
                        .Box_des
                            p= token
                        button(href="/auth/login") 看全部你媽媽旦旦麵



