doctype html
html
    head
        title= title
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(charset="utf-8")
        link(rel='stylesheet', href='/stylesheets/hackathon.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Jaldi:400,700')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    body
        .Header
            .Header_title
                p NCTU Act!
            if !login
                .Header_login
                    button.Header_login_btn Login
            else
                a(href='/auth/logout') Logout

        block content

        .footer
        form.Form_content.is-visible(action='/auth/login',method='post')
            .Form.form
                .tab-content
                    #signup
                        h1 登入
                        .Form_close
                            .close_con
                                p +
                        .field-wrap
                            label Domain
                                span.req *
                            input(type='text', required='', autocomplete='off',name='domain')
                        .field-wrap
                            label Username
                                span.req *
                            input(type='text', required='', autocomplete='off',name='username')
                        .field-wrap
                            label Password
                                span.req *
                            input(type='password', required='', autocomplete='off',name='password')
                        button.button.button-block(type='submit') Login

        form.Up_content.is-visible
            .Up.Form.form
                .tab-content
                    #signup
                        h1 上傳
                        .Form_close
                            .close_con
                                p +
                        .field-wrap
                            label Title
                                span.req *
                            input(type='text', required='', autocomplete='off')
                        .top-row
                            .field-wrap
                                label
                                    | Time
                                    span.req *
                                input(type='text', required='', autocomplete='off')
                            .field-wrap
                                label
                                    | Date
                                    span.req *
                                input(type='text', required='', autocomplete='off')
                        .top-row
                            .field-wrap
                                label
                                    | Host
                                    span.req *
                                input(type='text', required='', autocomplete='off')
                            .field-wrap
                                label
                                    | Location
                                    span.req *
                                input(type='text', required='', autocomplete='off')
                        .top-row
                            .field-wrap
                                label
                                    | Price
                                    span.req *
                                input(type='text', required='', autocomplete='off')
                            .field-wrap
                                label
                                    | quota
                                    span.req *
                                input(type='text', required='', autocomplete='off')
                        .field-wrap(style='height:100px')
                            textarea(placeholder='yo!describe~', required='', rows='4', cols='50')
                        button.button.button-block(type='submit') OKAY!




        script(src='/javascripts/hackathon.js')