//
   Created by Daniel on 2015/10/24.
extends layout

block content
    form.form(action='/auth/login', method='post')
        .tab-content
            #signup
                h1 登入
                .field-wrap
                    label Domain
                        span.req *
                    input(type='text', required='', autocomplete='off', name='domain')
                .field-wrap
                    label Username
                        span.req *
                    input(type='text', required='', autocomplete='off', name='username')
                .field-wrap
                    label Password
                        span.req *
                    input(type='text', required='', autocomplete='off', name='passwd')
                button.button.button-block(type='submit') Login

